<!doctype html>
<html lang="en">
  <head>
    <%- include("./head.ejs") %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <script>
      function signup(){
                location.href="/signup";
            }
    </script>

    
    <!-- Custom styles for this template -->
    <link href="./css/signin.css" rel="stylesheet">
  </head>
  <script>
      $(function(){
          
          $("#login").attr("disabled", "disabled")
          $("input").keyup(function(){
              var id = $("#input_id").val();
              var password = $("#input_password").val();
              if(id && password){
                  if(password.length>3){
                    $("#login").removeAttr("disabled")
                  }else{
                      $("#login").attr("disabled", "disabled")
                }
              }else{
                  $("#login").attr("disabled", "disabled")
              }
          })
        })
     
  </script>
  <body class="text-center">
    <%- include("./nav.ejs") %>
<main class="form-signin">
  <form action="/login" method="POST">
    <img class="mb-4" src="https://post-phinf.pstatic.net/MjAyMDAzMThfMTAx/MDAxNTg0NTE4NjI4ODY2.2N_yIRb3IMGqxsqyiWBFMgudpWEDbZlGkjBOVQt32Ikg.wnrrkHqjlxvT3PDRURCHw1M6qNdhj9JiAqcGCE5vu58g.PNG/4.png?type=w1200" alt="" width="125
    " height="100">
    <h1 class="h3 mb-3 fw-normal">드루와</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="input_id" placeholder="ID" name = "post_id">
      <label for="floatingInput">ID</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="input_password" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="login">로그인</button>
  </form>
  <button style="margin-top: 10px;" class="w-100 btn btn-lg btn-secondary" onclick="signup()">회원가입</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</main>


    
  </body>
</html>
